div(class='barmenu')
    a(href='/') Home
    a(href='/cv') CV
    a(href='/projects') Projects
    a(href='/about') About
    if(user)
        | Logged as #{user.email}
        a(href='logout') Logout