div(class='barmenu')
    div(class="links")
        a(href='/about') About
        a(href='/cv') CV
        a(href='/projects') Projects
        a(href='/') Home
        if(user)
            | Logged as #{user.email}
            a(href='logout') Logout
