div(class='barmenu')
    div(class="links")
        a(href='/about') About
        a(href='/cv') CV
        a(href='/projects') Projects
        a(href='/') Home
        if(user)
            a(href='logout') Logout

div(class='barmenu -m')

script(src="javascripts/menu.js")