extends layout

block sidebar-left
	div(class='sidebar-left')

block content
	div(class='content')
		h1=title
		p Welcome to my portfolio !
		p I'm Vanane

block sidebar-right
	div(class='sidebar-right')