extends layout

block sidebar-left
	div(class='sidebar-left')

block content
	div(class='content')
		h1=title
		p <tab/>Welcome to my site !
		p <tab/>My name is Vanane, but you can call me Vanane (that's not my real name). This website is my portfolio, and also a test area. Here I reference (and totally show off) all my personal projects and ideas.
		p I'm a student with a major in computer sciences and a minor in project management. Most of my projects are (attempts at) softwares and games, but I'm also interested in pixel art and 3D modeling.
		p Feel free to hang around !

block sidebar-right
	div(class='sidebar-right')