doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include ./barmenu.jade
		.mainpage
			block sidebar-left
			block content
			block sidebar-right
		include footer.jade
