doctype html
html
	head
		title Vanane's Portfolio
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&&family=Raleway:wght@300&family=Major+Mono+Display&family=Nunito:wght@300&family=Quicksand&family=Syne+Mono&display=swap" rel="stylesheet")
		<meta property="og:title" content="Vanane's homemade Portfolio"/>
		<meta property="og:type" content="portfolio"/>
		<meta property="og:url" content="https://vanane.net"/>
		<meta property="og:description" content="Vanane's portfolio"/>
	body
		include ./barmenu.jade
		.mainpage
			div(class='content')
				block content
		include footer.jade
