a(class="project-row" href="/projects/#{project['id']}")
	if project['img']
		img(class="image" src="#{project['img']}")
	h2(class="name") #{project['name']}
	p(class="description") #{project['description']} 