*
{
    --main-color:black;
    --second-color:gray;
    --third-color:white;
    box-sizing: border-box;
}


html, body
{
    position: absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

a
{
    text-decoration:none;
    color:black;
}

a:hover
{
    color:black;
}

.barmenu
{
    position:relative;
    overflow:auto; 
    top:0;
    left:0;
    width:100%;
    border-bottom:solid 1px black;
    box-sizing: border-box;
}

.barmenu a
{
    --nb-of-menus:4;
    display:block;
    position:relative;
    float:left;
    width:calc(100% / var(--nb-of-menus));
    text-align:center;
    padding:1em;
    box-sizing: border-box;    
}

.barmenu a:hover
{
    background-color:#DDD;
}

.mainpage
{
    position:relative;
    width:100%;
    height:calc(100% - 3.25em * 2);
}

.sidebar-left
{
    position:relative;
    float:left;
    width:15%;
    height:100%;
    overflow:visible;
    background-color: gray;
}

.content
{
    position:relative;
    float:left;
    width:70%;
    height:100%;
    overflow:auto;
    padding:2em;
}

.sidebar-right
{
    position:relative;
    float:right;
    width:15%;
    height:100%;
    overflow:visible;
    background-color: gray;
}

.footer
{
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    min-height:3.25em;
    padding:1em;
    text-align:center;
    border-top:solid 1px black;
}












